*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    background-color: darkred;
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

a:hover {
    background-color: rgb(177, 0, 0);
}